<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="UTF-8">
        <title>@11</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <meta name="description" content="ERNI Cinema">
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    </head>
    <body>
        <header>
           <p>Header of the page</p>
        </header>
        
        <h1>CONTENT OF THE PAGE</h1>
       
        <footer>
          <p>Footer of the page</p>
        </footer>
    </body>
</html>
